<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ABCO Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
  </head>
  <body>
    <div id="abcoTests" style="margin: 10px;">
      <div v-if="testStep == 'toWhich'">
        <div class="card" style="padding: 10px;">
          <div style="text-align: center;">
            <h2 style="color: #5748a3">Assalomu aleykum, xush kelibsizlar</h2>
            <h2 style="color: #5748a3">Testdan o'tish saytiga</h2>
          </div>
          <div class="ui divider"></div>
          <div style="text-align: center; padding: 20px">
            <h3>Iltimos qaysi sho'tgacha kelganingizni tanlang</h3>
            <h3 for="accountNumber" style="color: red">{{ total }}</h3>
            <h4 for="accountNumber">sho'tigacha</h4>
            <input type="range" class="custom-range" min="1" max="5" step="1" id="accountNumber" value="1" style="padding-top: 20px;" v-model="toWhich" />
          </div>
          <div>
            <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="selectedToWhich">Tanladim</button>
          </div>
        </div>
      </div>
      <div v-if="testStep == 'testlar'">
        <div class="ui six doubling cards">
          <div class="card" v-if="lessThanTen == 'xa'" v-on:click="start(toWhich)" style="cursor: pointer;">
            <div class="image">
              <img src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test-less.jpg" />
            </div>
            <div class="extra content">
              <div class="center aligned author"><img class="ui avatar image" src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test-small.jpg" /> 10 talik test</div>
            </div>
          </div>
          <div class="card" v-if="tenTests == 'xa'" v-on:click="start('10')" style="cursor: pointer;">
            <div class="image">
              <img src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test.jpg" />
            </div>
            <div class="extra content">
              <div class="center aligned author"><img class="ui avatar image" src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test-small.jpg" /> 10 talik test</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      new Vue({
        el: "#abcoTests",
        data: {
          testStep: "toWhich",
          currentSteep: 1,
          toWhich: 1,
          lessThanTen: "xa",
          tenTests: "yoq",
          twentyTests: "yoq",
          thirtyTests: "yoq",
          fortyTests: "yoq",
          accounts: {
            "1": { name: "Asosiy vositalar", account: "0110" },
            "2": { name: "Asosiy vositalarning eskirishi", account: "0210" },
            "3": { name: "Lizing", account: "0310" },
            "4": { name: "Nomoddiy aktivlar", account: "0410" },
            "5": { name: "Nomoddiy aktivlarning eskirishi", account: "0510" }
          }
        },
        methods: {
          selectedToWhich() {
            console.log("Tanlanga sho'tlar uzunligi: ", this.toWhich);
            this.testStep = "testlar";
          },
          start(count) {
            console.log("Tanlanga testning uzunligi: ", count);
          }
        },
        computed: {
          total: function() {
            return this.accounts[this.toWhich].account;
          }
        }
      });
    </script>
  </body>
</html>
