<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta property="og:url" content="https://maxmudjon.github.io/abco-tests/" />
    <meta property="og:title" content="ABCO Testlari" />
    <meta property="og:description" content="O'tilgan xisob raqamlar bo'yicha testdan o'tish." />
    <meta property="og:image" content="https://github.com/Maxmudjon/images/blob/master/10-test.jpg" />
    <title>ABCO Test</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.6/dist/vue.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
    <script>
      var config = {
        apiKey: "AIzaSyDKPIGWRriLIfAIr170t-w-WfK9b3A93dA",
        authDomain: "abco-tests.firebaseapp.com",
        databaseURL: "https://abco-tests.firebaseio.com",
        projectId: "abco-tests",
        storageBucket: "abco-tests.appspot.com",
        messagingSenderId: "636499463293"
      };
      firebase.initializeApp(config);
    </script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css" />
    <style>
      body {
        background: linear-gradient(45deg, #9d3bf2, #4583d0);
        overflow: hidden;
      }

      .abcoTests {
        margin-top: 15px;
      }

      h1 {
        color: #5748a3;
      }

      h2 {
        color: #5748a3;
      }

      .footer {
        position: fixed;
        left: 0;
        bottom: 10px;
        width: 100%;
        color: white;
        text-align: center;
        font-size: xx-small;
      }

      .topBallar {
        margin-top: 10px;
      }

      @media screen and (min-width: 360px) {
        .footer {
          font-size: small;
        }
      }

      @media screen and (max-height: 380px) {
        .footer {
          display: none;
        }
      }
    </style>
  </head>
  <body>
    <div class="abcoTests" id="abcoTests">
      <div class="container-fluid h-100">
        <div class="row justify-content-center align-items-center">
          <div class="col-sm-12 col-md-9 col-lg-7 col-xl-6 text-center">
            <!-- --------------- -->
            <!-- Bosh saxifa -->
            <!-- --------------- -->
            <div v-if="testStep == 'hello'">
              <div class="card" style="padding: 10px;">
                <div style="text-align: center;">
                  <h2>Assalomu aleykum</h2>
                  <h2>Testdan o'tish saytiga xush kelibsiz</h2>
                </div>
                <div class="ui divider"></div>
                <div style="text-align: center; padding: 20px">
                  <h3>Iltimos ismingizni kiriting</h3>
                  <h3 for="username" style="color: red">{{ username }}</h3>
                  <input type="text" class="form-control" id="shot" v-model="username" placeholder="ismingiz" />
                </div>
                <div>
                  <button type="button" class="btn btn-primary btn-lg col-xs-12 col-sm-9 col-md-6 col-lg-4 col-xl-3" v-on:click="boshladik">Boshladik</button>
                </div>
              </div>
            </div>
            <!-- --------------- -->
            <!-- Birinchi saxifa -->
            <!-- --------------- -->
            <div v-if="testStep == 'toWhich'">
              <div class="card" style="padding: 10px;">
                <div style="text-align: center;">
                  <h2>Salom {{ username }}!</h2>
                </div>
                <div class="ui divider"></div>
                <div style="text-align: center; padding: 20px">
                  <h3>Iltimos qaysi xisob raqamga kelganingizni tanlang</h3>
                  <h3 for="accountNumber" style="color: red">{{ total }} - {{ this.accounts[toWhich].name }}</h3>
                  <h4 for="accountNumber">xisob raqamigacha</h4>
                  <input type="range" class="custom-range" min="1" max="60" step="1" id="accountNumber" value="1" style="padding-top: 20px;" v-model="toWhich" />
                </div>
                <div>
                  <button type="button" class="btn btn-primary btn-lg col-xs-12 col-sm-9 col-md-6 col-lg-4 col-xl-3" v-on:click="selectedToWhich">Tanladim</button>
                </div>
              </div>
              <div class="topBallar">
                <ul class="list-group" v-for="(foydalanuvchi, index) in foydalanuvchilar">
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{ foydalanuvchi.name }}
                    <span class="badge badge-primary badge-pill">{{ foydalanuvchi.ballar }}</span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- ---------------- -->
            <!-- Teslar saxifasi  -->
            <!-- ---------------- -->
            <div v-if="testStep == 'testlar'">
              <div class="ui six doubling cards">
                <div class="card" v-show="lessThanTen" v-on:click="start(toWhich)" style="cursor: pointer;">
                  <div class="image">
                    <img src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test-less.jpg" />
                  </div>
                  <div class="extra content">
                    <div class="center aligned author">10 tadan kam test</div>
                  </div>
                </div>
                <div class="card" v-show="tenTests" v-on:click="start('10')" style="cursor: pointer;">
                  <div class="image">
                    <img src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test.jpg" />
                  </div>
                  <div class="extra content">
                    <div class="center aligned author">10 talik test</div>
                  </div>
                </div>
                <div class="card" v-show="twentyTests" v-on:click="start('20')" style="cursor: pointer;">
                  <div class="image">
                    <img src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test.jpg" />
                  </div>
                  <div class="extra content">
                    <div class="center aligned author">20 talik test</div>
                  </div>
                </div>
                <div class="card" v-show="thirtyTests" v-on:click="start('30')" style="cursor: pointer;">
                  <div class="image">
                    <img src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test.jpg" />
                  </div>
                  <div class="extra content">
                    <div class="center aligned author">30 talik test</div>
                  </div>
                </div>
                <div class="card" v-show="fortyTests" v-on:click="start('40')" style="cursor: pointer;">
                  <div class="image">
                    <img src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test.jpg" />
                  </div>
                  <div class="extra content">
                    <div class="center aligned author">40 talik test</div>
                  </div>
                </div>
                <div class="card" v-show="fiftyTests" v-on:click="start('50')" style="cursor: pointer;">
                  <div class="image">
                    <img src="https://raw.githubusercontent.com/Maxmudjon/images/master/10-test.jpg" />
                  </div>
                  <div class="extra content">
                    <div class="center aligned author">50 talik test</div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ----------------- -->
            <!-- Savollar saxifasi -->
            <!-- ----------------- -->
            <div v-if="testStep == 'savollar'">
              <div class="card" style="padding: 10px;">
                <div style="text-align: center;">
                  <h2>{{ toWhich }} ta savoldan {{ currentSteep + 1 }} - savol</h2>
                  <h2>Yeg'ilgan bal: {{ ballar }}</h2>
                </div>
                <div class="ui divider"></div>
                <div style="text-align: center; padding: 20px">
                  <h3>Iltimos sho'tning raqami kirgazing</h3>
                  <h2 for="accountNumber" style="color: red">{{ accounts[currentQuestion].name }}</h2>
                  <input type="number" class="form-control" id="shot" v-model="answer" placeholder="xisob raqami" />
                </div>
                <div>
                  <button type="button" class="btn btn-primary float-right" v-on:click="next">Keyingi savol</button>
                </div>
              </div>
            </div>
            <!-- ---------------------- -->
            <!-- Umumiy ballar saxifasi -->
            <!-- ---------------------- -->
            <div v-if="testStep == 'umumiy'">
              <div class="card" style="padding: 10px;">
                <div style="text-align: center;">
                  <h1>Yeg'ilgan ballar: {{ ballar }}</h1>
                  <h2>{{ testResaultText1 }}</h2>
                </div>
                <div class="ui divider"></div>
                <div style="text-align: center; padding: 20px">
                  <h3>{{ testResaultText2 }}</h3>
                </div>
                <div>
                  <button type="button" class="btn btn-primary btn-lg col-xs-12 col-sm-9 col-md-6 col-lg-4 col-xl-3" v-on:click="route">Bosh saxifa</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ---------------------- -->
    <!-- Footer -->
    <!-- ---------------------- -->
    <div class="footer">
      <p>© Developed by Payziyev Maxmudjon - 2019</p>
      <p>ABCO bug'alteriya maktabi</p>
    </div>

    <script type="text/javascript">
      var database = firebase.database().ref("ballar");
      var topUsers = firebase.database().ref("engKopBal");

      new Vue({
        el: "#abcoTests",
        data: {
          username: "",
          foydalanuvchilar: [],
          userTopScore: 0,
          testStep: "hello",
          currentSteep: 0,
          currentQuestion: "",
          question: [],
          failAnswers: [],
          toWhich: 1,
          questionLength: 0,
          ballar: 0,
          answer: "",
          testResaultText1: "Test 1",
          testResaultText2: "Test 2",
          testResaultText3: "Test 3",
          lessThanTen: true,
          tenTests: false,
          twentyTests: false,
          thirtyTests: false,
          fortyTests: false,
          fiftyTests: false,
          accounts: {
            "1": { name: "Asosiy vositalar", account: "0110" },
            "2": { name: "Asosiy vositalarning eskirishi", account: "0210" },
            "3": { name: "Lizing", account: "0310" },
            "4": { name: "Nomoddiy aktivlar", account: "0410" },
            "5": { name: "Nomoddiy aktivlarning eskirishi", account: "0510" },
            "6": { name: "Uzoq muddatli investitsiyalar", account: "0610" },
            "7": { name: "O'rnatiladigan asbob-uskunalar", account: "0710" },
            "8": { name: "Tugallanmagan qurilish (Kapital qo'yilmalar)", account: "0810" },
            "9": { name: "Asosiy vositani xarid qilish (Kapital qo'yilmalar)", account: "0820" },
            "10": { name: "Nomoddiy aktivlarni xarid qilish (Kapital qo'yilmalar)", account: "0830" },
            "11": { name: "Uzoq muddatlik debitorlik qarzlar", account: "0910" },
            "12": { name: "Xom ashyo va materiallar", account: "1010" },
            "13": { name: "O'stirishdagi va boquvdagi xayvonlar", account: "1110" },
            "14": { name: "Materiallarni tayyorlash - 'загатовка'", account: "1510" },
            "15": { name: "Materiallar qiymatidagi farqlar", account: "1610" },
            "16": { name: "Asosiy ishlab chiqarish", account: "2010" },
            "17": { name: "O'zida ishlab chiqarilgan yarim tayyor maxsulotlar", account: "2110" },
            "18": { name: "Yordamchi ishlab chiqarish", account: "2310" },
            "19": { name: "Umumiy ishlab chiqarish xarajatlari", account: "2510" },
            "20": { name: "Ishlab chiqarishdagi yaroqsiz maxsulotlar - 'брак'", account: "2610" },
            "21": { name: "Xizmat ko'rsatuvchi xo'jaliklar", account: "2710" },
            "22": { name: "Tayyor maxsulotlar - 'ombordagi'", account: "2810" },
            "23": { name: "Maxsulotlar - 'ombordagi'", account: "2910" },
            "24": { name: "Kelgusi davr xarajatlari", account: "3110" },
            "25": { name: "Kechiktirilgan xarajatlar", account: "3210" },
            "26": { name: "Olinadigan sho'tlar - 'xaridorlarning qarzi'", account: "4010" },
            "27": { name: "Ajratilingan bo'linmalar, sho'ba va qaram xo'jalik jamiyatlaridan olinadigan sho'tlar - 'Filiallarning bosh ofisga qarzi'", account: "4110" },
            "28": { name: "Xodimlarga berilgan bo'naklar - 'аванс'", account: "4210" },
            "29": { name: "Mol yetkazib beruvchilarga va pudratchilarga berilgan bo'naklar - 'аванс'", account: "4310" },
            "30": { name: "Byudjetga bo'nak to'lovlari - 'аванс' - 'byudjet soliqlariga o'tkazilgan bo'nak'", account: "4410" },
            "31": { name: "Maqsadli davlat jamg'armalariga va sug'urtalar bo'yicha bo'nak to'lovlar - 'аванс' - 'byudjetdan tashqari soliqlarga o'tkazilgan bo'nak'", account: "4510" },
            "32": { name: "Ustav kapitaliga ta'sischilarning ulushlari bo'yicha qarzi - 'устав фонд' - 'ta'sischilarning korxona oldidagi qarzi'", account: "4610" },
            "33": { name: "Xodimlarning boshqa operatsiyalar bo'yicha qarzi - 'ishchilarning korxona oldidagi qarzi'", account: "4710" },
            "34": { name: "Turli debitorlar qarzlari - 'boshqa debitor qarzlar'", account: "4810" },
            "35": { name: "Dargumon qarzlar - 'dargumon qarzlar bo'yicha rezerv'", account: "4910" },
            "36": { name: "Kassadagi pul mablag'lari - 'kassadagi naqt pullar'", account: "5010" },
            "37": { name: "Xisob-kitob xisob raqami", account: "5110" },
            "38": { name: "Chet-el valyutasidagi pul mablag'lari - 'valyuta xisob raqami'", account: "5210" },
            "39": { name: "Bankdagi maxsus xisob raqamlardagi pul mablag'lari - 'boshqa ikkilamchi bankdagi xisob raqamlar'", account: "5510" },
            "40": { name: "Pul ekvivalentlari - 'конвертация'", account: "5610" },
            "41": { name: "Yo'ldagi pul mablag' (o'tkazma)lar - 'инкассация'", account: "5710" },
            "42": { name: "Qisqa muddatli investitsiyalar - 'займ'", account: "5810" },
            "43": { name: "Kamomadlar va qiymatliklarning buzulishidan yo'qotishlar va boshqa joriy aktivlar - 'недостатька' - 'kamomatlar'", account: "5910" },
            "44": { name: "Mol yetkazib beruvchilar va pudratchilarga to'lanadigan sho'tlar - 'mol yetkazib beruvchilarga korxonaning qarzi'", account: "6010" },
            "45": { name: "Ajratilgan bo'linmalar, sho'ba va qaram xo'jalik jamiyatlariga to'lanadigan sho'tlar - 'Korxonaning filiallar oldidagi qarzi'", account: "6110" },
            "46": {
              name: "Kechiktirilgan majburiyatlar",
              account: "6210",
              sub: { "1": { name: "Soliqlar va boshqa majburiy to'lovlar foyda solog'i - 'imtiyozli kechiktirilgan soliq to'lovlari'", account: "6240" } }
            },
            "47": { name: "Olingan bo'naklar - 'аванс' - 'xaridorlarning bo'naklari'", account: "6310" },
            "48": { name: "Byudjetga to'lovlar bo'yicha qarzni xisobga olish - 'byudjet soliqlari bo'yicha qarzimiz'", account: "6410" },
            "49": { name: "Sug'urta va maqsadli davlar jamg'armalariga to'lovlar bo'yicha qarzni xisobga olish - 'byudjetdan tashqari soliq qarzlari'", account: "6510" },
            "50": { name: "Korxonaning ta'sischilarga bo'lgan qarzi - 'dvident tariqasida'", account: "6610" },
            "51": { name: "Mehnat xaqi bo'yicha xodim bilan xisoblashishlarni xisobga olish - 'oylik ish xaqqi'", account: "6710" },
            "52": { name: "Qisqa muddatlik kreditlar va qarzlar - 'qisqa muddatli olingan kredit va zaymlar'", account: "6810" },
            "53": { name: "Turli kreditorlarga bo'lgan qarzlarni xisobga olish - 'boshqa kreditor qarzlar (xizmatlar bo'yicha'", account: "6910" },
            "54": { name: "Mol yetkazib beruvchilarga va pudratchilarga to'lanadigan uzoq muddatli xisob raqamlar - 'mol yetkazib beruvchilarga uzoq muddatlik qarzimiz'", account: "7010" },
            "55": { name: "Ajratilgan bo'linmalar, sho'ba va qaram xo'jalik jamiyatlariga bo'lgan uzoq muddatli qarz - 'Korxonaning filiallar oldidagi uzoq muddatlik qarzi'", account: "7110" },
            "56": { name: "Kechiktirilgan uzoq muddatlik majburiyatlarni xisobga olish - 'kechiktirilgan majburiyatlar'", account: "7210" },
            "57": { name: "Xaridorlar va buyurtmachilardan olingan uzoq muddatli bo'naklarni xisobga olish - 'uzoq muddatlik avans xisob raqami'", account: "7310" },
            "58": { name: "Uzoq muddatli kreditlar va qarzlarni xisobga olish - 'uzoq muddatli zaym, kreditlar'", account: "7810" },
            "59": { name: "Turli kreditorlarga bo'lgan uzoq muddatli qarzlarni xisobga olish - 'uzoq muddatlik boshqa kreditor qarzlar'", account: "7910" },
            "60": { name: "Ustav kapitalni xisobga olish", account: "8330" }
          }
        },
        methods: {
          boshladik() {
            if (this.username == "") {
              alert("Iltimos ismingizni kiriting");
            } else {
              this.testStep = "toWhich";
              localStorage.foydalanuvchi = this.username;
            }
          },
          selectedToWhich() {
            console.log("Tanlanga sho'tlar uzunligi: ", this.toWhich);
            this.start(this.toWhich);
            // this.testStep = "testlar";
            // if (this.toWhich < 10 && this.toWhich > 1) {
            //   console.log(this.toWhich + " '10' dan katta yoki teng");
            //   this.lessThanTen = true;
            // } else if (this.toWhich <= 20 && this.toWhich >= 10) {
            //   console.log(this.toWhich + " '20' dan kam yoki teng");
            //   this.tenTests = true;
            //   this.twentyTests = true;
            //   this.lessThanTen = false;
            // } else if (this.toWhich <= 30 && this.toWhich >= 10) {
            //   console.log(this.toWhich + " '30' dan kam yoki teng");
            //   this.tenTests = true;
            //   this.twentyTests = true;
            //   this.thirtyTests = true;
            //   this.lessThanTen = false;
            // } else if (this.toWhich <= 40 && this.toWhich >= 10) {
            //   console.log(this.toWhich + " '40' dan kam yoki teng");
            //   this.tenTests = true;
            //   this.twentyTests = true;
            //   this.thirtyTests = true;
            //   this.fortyTests = true;
            //   this.lessThanTen = false;
            // } else if (this.toWhich <= 50 && this.toWhich >= 10) {
            //   console.log(this.toWhich + " '50' dan kam yoki teng");
            //   this.tenTests = true;
            //   this.twentyTests = true;
            //   this.thirtyTests = true;
            //   this.fortyTests = true;
            //   this.fiftyTests = true;
            //   this.lessThanTen = false;
            // }
          },
          start(count) {
            console.log("Tanlanga testning uzunligi: ", count);
            this.question = this.randomTests(count, 1, count);
            console.log("Savollar xar-xilligi: ", this.question);

            this.currentQuestion = this.question[this.currentSteep];
            console.log("Xozirgi savol: ", this.currentQuestion);

            this.testStep = "savollar";
            this.questionLength = this.toWhich;
          },
          next() {
            if (this.answer == this.accounts[this.currentQuestion].account) {
              this.ballar++;
              this.answer = "";
              console.log("Umumiy savollar uzunligi: " + (this.toWhich - 1) + " xozirgi savol: " + this.currentSteep);

              if (this.toWhich - 1 !== this.currentSteep) {
                this.currentSteep++;
                this.currentQuestion = this.question[this.currentSteep];
                console.log("Xozirgi savol: ", this.currentQuestion);
              } else {
                this.testStep = "umumiy";
                this.currentSteep = 0;
                this.currentQuestion = "";
                this.question = [];
                this.toWhich = 1;

                if (this.ballar == 0) {
                  this.testResaultText1 = "Berilgan " + this.questionLength + " ta savolning birortasiga to'g'ri javob berolmadingiz";
                  this.testResaultText2 = "Xisob raqamlarni yodlang!";
                  database
                    .child(this.username)
                    .child(this.getDate())
                    .child(this.getTime())
                    .set({
                      tanlanganXisobRaqamgacha: this.accounts[this.questionLength].account,
                      savollarSoni: this.questionLength,
                      yegilganBallar: this.ballar,
                      togriJavobFoizda: 0,
                      testdanOtdi: false,
                      notogriJavoblar: this.failAnswers
                    });

                  topUsers.child(this.username).set({
                    name: this.username,
                    ballar: this.userTopScore + this.ballar
                  });
                } else {
                  let baxoFoizda = Math.floor((this.ballar / this.questionLength) * 100);
                  this.testResaultText1 = "Berilgan " + this.questionLength + " ta savolning " + this.ballar + " tasiga to'g'ri javob berdingiz";
                  this.testResaultText2 = "Qoyil, siz testdan o'tdingiz, bergan " + baxoFoizda + " % javobingiz to'g'ri";
                  database
                    .child(this.username)
                    .child(this.getDate())
                    .child(this.getTime())
                    .set({
                      tanlanganXisobRaqamgacha: this.accounts[this.questionLength].account,
                      savollarSoni: this.questionLength,
                      yegilganBallar: this.ballar,
                      togriJavobFoizda: baxoFoizda,
                      testdanOtdi: true,
                      notogriJavoblar: this.failAnswers
                    });

                  topUsers.child(this.username).set({
                    name: this.username,
                    ballar: this.userTopScore + this.ballar
                  });
                }
              }
            } else {
              let malumot = {
                savol: this.accounts[this.currentQuestion].name,
                javob: this.accounts[this.currentQuestion].account,
                berilganJavob: this.answer
              };
              this.failAnswers.push(malumot);
              this.answer = "";
              if (this.toWhich - 1 !== this.currentSteep) {
                this.currentSteep++;
                this.currentQuestion = this.question[this.currentSteep];
                console.log("Xozirgi savol: ", this.currentQuestion);
              } else {
                this.testStep = "umumiy";
                this.currentSteep = 0;
                this.currentQuestion = "";
                this.question = [];
                this.toWhich = 1;

                if (this.ballar == 0) {
                  this.testResaultText1 = "Berilgan " + this.questionLength + " ta savolning birortasiga to'g'ri javob berolmadingiz";
                  this.testResaultText2 = "Xisob raqamlarni yodlang!";
                  database
                    .child(this.username)
                    .child(this.getDate())
                    .child(this.getTime())
                    .set({
                      tanlanganXisobRaqamgacha: this.accounts[this.questionLength].account,
                      savollarSoni: this.questionLength,
                      yegilganBallar: this.ballar,
                      togriJavobFoizda: 0,
                      testdanOtdi: false,
                      notogriJavoblar: this.failAnswers
                    });

                  topUsers.child(this.username).set({
                    name: this.username,
                    ballar: this.userTopScore
                  });
                } else {
                  let baxoFoizda = Math.floor((this.ballar / this.questionLength) * 100);
                  this.testResaultText1 = "Berilgan " + this.questionLength + " ta savolning " + this.ballar + " tasiga to'g'ri javob berdingiz";
                  this.testResaultText2 = "Qoyil, siz testdan o'tdingiz, bergan " + baxoFoizda + " % javobingiz to'g'ri";
                  database
                    .child(this.username)
                    .child(this.getDate())
                    .child(this.getTime())
                    .set({
                      tanlanganXisobRaqamgacha: this.accounts[this.questionLength].account,
                      savollarSoni: this.questionLength,
                      yegilganBallar: this.ballar,
                      togriJavobFoizda: baxoFoizda,
                      testdanOtdi: true,
                      notogriJavoblar: this.failAnswers
                    });

                  topUsers.child(this.username).set({
                    name: this.username,
                    ballar: this.userTopScore + this.ballar
                  });
                }
              }
            }
          },
          randomTests(testgacha, minValue, maxValue) {
            var A = [];
            while (maxValue >= minValue) A.push(maxValue--);

            A.sort(function() {
              return 0.5 - Math.random();
            });

            return A;
          },
          route() {
            this.testStep = "toWhich";
            this.ballar = 0;
            this.answer = "";
          },
          getDate() {
            let date = new Date();
            var oylar = ["Yanvar", "Fevral", "Mart", "Aprel", "May", "Iyun", "Iyul", "Avgust", "Sentyabr", "Oktyabr", "Noyabr", "Dekabr"];

            return date.getDate() + "-" + oylar[date.getMonth()] + "-" + date.getFullYear();
          },
          getTime() {
            let date = new Date();

            return date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();
          }
        },
        computed: {
          total: function() {
            return this.accounts[this.toWhich].account;
          }
        },
        created() {
          if (localStorage.foydalanuvchi != undefined) {
            this.username = localStorage.foydalanuvchi;
            this.testStep = "toWhich";

            topUsers.child(this.username).on("value", snapshot => {
              this.userTopScore = snapshot.val().ballar;
            });
          }

          topUsers.on("value", snapshot => {
            this.foydalanuvchilar = snapshot.val();
          });
        }
      });
    </script>
  </body>
</html>
